body {
    background-color: lightslategray;
    background-image: url("imgs/backgrounds/background03.png");

}

.title:hover {
    text-decoration: dashed;
    text-decoration-color: black;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    


    width: 190px;
    height: 40px;

    border: 0;

    font-size: 15px;
    background-color: transparent;

    cursor: pointer;
    
}


.navbarversion {
    position: absolute;
    bottom: 10;
    left: 20px;
}

button:hover {
    


    width: 190px;
    height: 40px;

    border: 0;

    font-size: 15px;
    background-color: rgb(99, 99, 99);

    cursor: pointer;
    
}

.Home {
    position: absolute;
    top: 65px;
    
    background-color: rgb(99, 99, 99);
}


h3 {
    text-align: center;
}

.btn1 {
    position: absolute;
    top: 0;
    left: 0;

}

    .commondiv {
        width: 560px;
    }

    
    .btn2 {
        position: absolute;
        top: 35px;
        left: 0;

    }


    .btn3 {
        position: absolute;
        left: 0;
        top: 95px;
    }


    

    .btn4 {
        position: absolute;
        left: 0;
        top: 130px;
    }

    .btn5 {
        position: absolute;
        left: 0;
        top: 170px;
    }


    .linkcontainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 190px;
        height: 1100px;
        background-color: rgb(78, 77, 77);
        border-radius: 13px;
        border-width: 4px;
        
    }

    
    .seemorelink {

    }

    .seemorelink:hover {
        background-color: lightskyblue;
    }